.box {
    height: 15px;
    width: 15px;
    background-color: #555;
    border: .1rem solid;
    border-color: white;
}
.colorList {
    color:black;
    list-style: square;
}
.colorListItem {
    display: flex;
    position: relative; 
}